/* Globals*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background: rgb(78,126,81);
  background: linear-gradient(270deg, rgba(78,126,81,0.8883928571428571) 0%, rgba(36,141,250,1) 70%);
  border-bottom: solid 1px #eefa24;
}